---
import FormattedDate from '../components/FormattedDate.astro';

interface Props {
  id: string;
  slug: string;
  body: string;
  collection: string;
  data: {
    title: string;
    pubDate: Date;
    description: string;
    updatedDate?: Date | undefined;
    heroImage?: string | undefined;
  };
}

const { slug, data } = Astro.props;
---

<style>
  img {
    margin-bottom: 0.5rem;
    border-radius: 12px;
    aspect-ratio: 2/1;
    object-fit: cover;
  }
  a {
    display: block;
  }
  a:hover img {
    box-shadow: var(--box-shadow);
  }
  * {
    text-decoration: none;
    transition: 0.2s ease;
  }
</style>

<a href={`/blog/${slug}/`}>
  <img
    transition:name={`img:${data.title}`}
    width={720}
    height={360}
    src={data.heroImage}
    alt=''
  />
  <h4
    transition:name={`title:${data.title}`}
    class='text-center font-bold [text-wrap:balance]'>
    {data.title}
  </h4>
  <p class='text-center text-gray-500'>
    <FormattedDate
      transition:name={`title:${data.pubDate}`}
      date={data.pubDate}
    />
  </p>
</a>
