---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from './FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<style>
  main {
    width: calc(100% - 2em);
    margin: auto;
    padding: 1em 0.5em;
  }
  .hero-image {
    width: 100%;
  }
  .hero-image img {
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
    aspect-ratio: 2/1;
    object-fit: cover;
  }
  .date {
  }
  .last-updated-on {
    font-style: italic;
  }
</style>

<main>
  <article>
    <div class='hero-image'>
      {
        heroImage ? (
          <img
            transition:name={`img:${title}`}
            width={1020}
            height={510}
            src={heroImage}
            alt=''
          />
        ) : (
          <img width={1020} height={510} src='old_computer.png' alt='' />
        )
      }
    </div>
    <div class='prose xl:prose-xl m-auto'>
      <div class='text-center'>
        <div class='date'>
          <FormattedDate transition:name={`date:${pubDate}`} date={pubDate} />
          {
            updatedDate && (
              <div class='last-updated-on'>
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
        <h1 class='dark:text-gray-300' transition:name={`title:${title}`}>
          {title}
        </h1>
        <hr />
      </div>
      <div
        class='text-justify mx-auto prose xl:prose-xl dark:prose-invert dark:prose-headings:text-slate-300 prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-blue-600 dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg mt-8'>
        <slot />
      </div>
    </div>
  </article>
</main>
