---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';

interface Props {
  position: string;
  company?: string | undefined;
  location?: string | undefined;
  dates?: string | undefined;
  description?: string | undefined;
  tasks?: string[] | undefined;
  stack?: string | undefined;
  missions?: Props[] | undefined;
}

const {
  position,
  company,
  dates,
  description,
  tasks,
  stack,
  location,
  missions,
} = Astro.props;
---

<div
  style='margin-bottom: 60px; border: 1px solid black; padding: 8px; border-radius: 4px'>
  <h3>{position}, {location} - {company}</h3>
  <h4>{dates}</h4>
  {description && <p style='margin-bottom: 1em;'>{description}</p>}
  <ul>
    {tasks?.map((task) => <li>{task}</li>)}
  </ul>
  <h5>{stack}</h5>

  {
    missions?.map((mission) => (
      <div style='margin: 8px'>
        <Astro.self {...mission} />
      </div>
    ))
  }
</div>
